# temporary build / zip files
*.zip
# backup files
backup*/
# image and audio files
icons/
media/
sounds/
# files
tailwind_*.css
todo-list*
done-list*
# resources
package-lock.json
node_modules/
feature.patch

